body
{
  
 
  
  color: #190934;
  font-size: 120%;
}
p
{
	fontfamily: arial;
	
	
}
footer
{
	background-color:#110934;
color:#0247FE;
}
header
{
	font-size:50px;
background-color:#347B98;	
padding:10px;
}
header,footer
{font-family: papyrus;
	text-align:center;
	
	height:300px;
	
}
img
{
	width:10%
}
main
{text-align:center;
	background-color:#D4EDF7;

}
#fristgrid{
display:grid;
grid-template-columns:50% 50%;
margin:10px;
padding: 20px;}


.word{
	padding:50px;
}
b{
	color:#4424D6;
}
